html {
    min-height: 100%;
}


body {
    height: 100%;
    margin: 0px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.home-card {
    border-radius: 4px;
    max-width: 600px;
    max-height: 1000px;
    margin-top: 25px;
    padding: 0;

    .mat-card-image {
      margin: 0;
      height: 50%;
    }

    .home-card-content {
      display: flex;
      justify-content: space-between;

      & > * {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: auto;
        max-width: 50%;

        &:first-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }

        &:last-child {
          flex-direction: column;
          align-items: start;
          padding: 8px;
        }
      }
    }
}