<h1 style="color: rgb(234, 81, 16); text-align: center; padding-top: 15px;">Your Cart</h1>
<h2 style="color: steelblue; text-align: center; font-size: medium; font-style: italic;">
  Total Price: {{calculateTotalPrice()}} &#8377;
</h2>

<div style="display: flex; flex-direction: column; align-items: center;">
  <!-- Cart Item card -->
  <div *ngFor="let cartItem of cartItems" style="width: 700px; margin-bottom: 20px;">
    <mat-card class="home-card" style="display: flex; flex-direction: column; padding: 20px;">
      <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
        <!-- Image container with fixed dimensions -->
        <div style="width: 150px; height: 150px; overflow: hidden;">
          <img mat-card-image [src]="cartItem.menuItem.img" alt="Item image"
            style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;">
        </div>
        <div style="flex: 1; margin-left: 20px;">
          <h2 style="color: rgb(228, 59, 206); font-weight: bold; margin: 0;">{{cartItem.menuItem.name}}</h2>
          <p style="margin: 5px 0;">
            <span style="color: #5e57e1; font-size: large; background-color: white; padding: 0 4px;">
              {{cartItem.menuItem.price}} &#8377;
            </span>
          </p>
          <p style="margin: 5px 0;">
            <span style="font-size: small;">Quantity: </span>{{cartItem.quantity}}
          </p>
          <p style="margin: 5px 0;">
            <span style="font-size: small;">Sum=</span>
            <strong>{{cartItem.quantity * cartItem.menuItem.price}} &#8377;</strong>
          </p>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <button mat-mini-button (click)="decreaseQuantity(cartItem)">-</button>
            <span style="margin: 0 10px; font-weight: bold;">{{cartItem.quantity}}</span>
            <button mat-mini-button (click)="increaseQuantity(cartItem)">+</button>
          </div>
          <mat-card-actions style="justify-content: center;">
            <button mat-raised-button color="warn" (click)="removeFromCart(cartItem.cartItemId)">Remove From Cart</button>
          </mat-card-actions>
        </div>
      </div>
    </mat-card>
  </div>
  <!-- Place Order  -->
  <div>
    <button mat-raised-button color="primary">Place Order</button>
  </div>
</div>
